.withdraw-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.removeItemForm{
    display:flex;
    flex-direction:column;
    gap:4vh;
}
